@media screen and (max-width: 350px) {
	
	/* Header Elements */

	header {
		display: flex;
		flex-wrap: wrap;
		height: 170px;
	}

	.logo-container {
		padding-top: 10px;
		width: 100%;
		height:60%;
		justify-content: center;
		margin-left: 0;
	}

	.header-text-area {
		width: 100%;
		height: 40%;
		align-items: center;
		justify-content: center;
	}

	.header-text-container {
		width: 100;
		margin: 0;
		text-align: center;
		padding-bottom: 10px;
	}	
}

@media screen and (min-width: 351px) {

	/* Header Elements */
	
	.logo-container {
		width: 25%;
	}

	.header-text-area {
		width: 75%;
	}

	.header-text-container > h2 {
		font-size: 1.62em;
	}

	.header-text-container > p {
		font-size: 0.91em;
	}
}

@media screen and (min-width: 395px) {

	/* Header Elements */

	.logo-container {
		width: 25%;
	}

	.header-text-area {
		width: 75%;
	}

	.header-text-container > h2 {
		font-size: 1.9em;
	}

	.header-text-container > p {
		font-size: 1.07em;
	}
}

@media screen and (min-width: 750px) {

	/* Document Properties */
	
	body {
		width: 80%;
		margin: auto;
	}

	/* Header Elements */

	.logo-container {
		margin-left: 0;
	}

	.header-text-container {
		margin: 0;
	}
}

@media screen and (min-width: 401px) and (max-width: 800px) {

	/* Main Image */

	.main-img-container {
		height: 250px;
	}
}

@media screen and (min-width: 801px) {

	/* Main Image */

	.main-img-container {
		height: 400px;
	}
}