@media screen and (max-width: 350px) {
	
	/* Header Elements */

	header {
		display: flex;
		flex-wrap: wrap;
		height: 170px;
	}

	.logo-container {
		padding-top: 10px;
		width: 100%;
		height:60%;
	}

	.header-text-area {
		width: 100%;
		height: 40%;
		align-items: center;
		justify-content: center;
	}

	.header-text-container {
		width: 100;
		margin: 0;
		text-align: center;
		padding-bottom: 10px;
	}
	
}