
/* Document Propeties */

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	font-family: 'El Messiri', Arial, sans-serif;
}

.full-width {
	width: 100%;
}

/* Header Elements */

header {
	height: 120px;
	box-shadow: 0 0.25em 0 0 #7d97ad;
	display: flex;
}

.logo-container {
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 13px;
}

.logo {
	width: 80px;	
}

.header-text-area {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header-text-container {
	height: 100%;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 13px;
}

.header-text-container > h2 {
	font-size: 1.6em;
}

.header-text-container > p {
	font-size: 0.9em;
	margin-top: -5px;
}

/* Main Image */

.main-img-container {
	height: 200px;
	margin-top: 25px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

/* Featured Works */

.work-exhibit {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	justify-content: center;
}

.work-section-title {
	text-align: center;
	margin-bottom: 7px;
	margin-top: -10px;
}

span {
	font-size: 1.7em;
}

.work {
	width: 92%;
	margin-bottom: 30px;
	text-align: center;
	padding: 15px;
	box-shadow: 0 0 0.3em #7d97ad;
}

.work-title {
	font-size: 1.5em;
	margin-bottom: -7px;
	text-align: center;
}

.work-link {
	font-size: 0.83em;
	text-decoration: none;
	padding-top: 16px;
	padding-bottom: 16px;

}

/* Footer */

footer {
	display: flex;
	height: 2em;
	background-color: #2d3c49;
	color: white;
}

p {
	margin: auto;
	text-align: center;
}

i {
	margin-right: 5px;
	vertical-align: middle;
}

/* Colors */

.dark {
	color: #2d3c49;
}

.light {
	color: #7d97ad;
}